<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.workpod">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WorkPod">
        <activity android:name=".Valoracion_Workpod_Final"></activity>
        <activity android:name=".testUsuario.Informacion_Usuario3" />
        <activity android:name=".testUsuario.Informacion_Usuario2" />
        <activity android:name=".testUsuario.Informacion_Usuario" />
        <activity android:name=".ValoracionWorkpod" />
        <activity
            android:name=".SigninActivity"
            android:label="@string/title_activity_navigation_view" />
        <activity
            android:name=".WorkpodActivity"
            android:label="@string/title_activity_navigation_view" />
        <activity android:name=".InitActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>