<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.workpodapp.workpod">
    <!-- PERMISO PARA LLAMAR -->
    <uses-permission android:name="android.permission.CALL_PHONE" /> <!-- PERMISOS DE INTERNET -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- PERMISO READ EXTERNAL STORAGE -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- PERMISO WRITE EXTERNAL STORAGE -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- PERMISOS PARA ACCEDER A LA UBICACION -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_logonotexto"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_logonotexto"
        android:supportsRtl="true"
        android:theme="@style/Theme.WorkPod">
        <activity android:name="com.workpodapp.workpod.PasswordActivity"></activity>
        <activity android:name="com.workpodapp.workpod.WebActivity" />
        <activity android:name="com.workpodapp.workpod.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" /> <!-- ACTIVIDAD INICIAL -->
        <activity
            android:name="com.workpodapp.workpod.InitActivity"
            android:label="@string/app_name" /> <!-- ACTIVIDAD DE REGISTRO -->
        <activity
            android:name="com.workpodapp.workpod.SigninActivity"
            android:label="Registrarse" /> <!-- ACTIVIDAD DE LOGIN -->
        <activity
            android:name="com.workpodapp.workpod.LoginActivity"
            android:label="Acceder"
            android:windowSoftInputMode="stateHidden" /> <!-- ACTIVIDAD DE PRINCIPAL (mapa y menus) -->
        <activity
            android:name="com.workpodapp.workpod.WorkpodActivity"
            android:label="Navegacion"
            android:windowSoftInputMode="stateHidden" /> <!-- ACTIVIDAD PARA MODIFICAR PERFIL -->
        <activity
            android:name="com.workpodapp.workpod.ModPerfilActivity"
            android:label="Modificar perfil" /> <!-- ACTIVIDADES DE VALORACION Y ENCUESTAS AL USUARIO -->
        <activity android:name="com.workpodapp.workpod.Valoracion_Workpod_Final" />
        <activity android:name="com.workpodapp.workpod.testUsuario.Informacion_Usuario3" />
        <activity android:name="com.workpodapp.workpod.testUsuario.Informacion_Usuario2" />
        <activity android:name="com.workpodapp.workpod.testUsuario.Informacion_Usuario" />
        <activity android:name="com.workpodapp.workpod.ValoracionWorkpod" />
    </application>

</manifest>